html {
    font-size: 14px;
    font-family: "Audiowide", sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color: darkgray;*/
    /*background: rgb(2,5,5);
    background: linear-gradient(50deg, rgba(2,15,5,1) 0%, rgba(9,9,121,1) 5%, rgba(0,212,50,1) 100%);*/
    background: rgb(172,182,172);
    background: linear-gradient(90deg, rgba(172,182,172,1) 0%, rgba(203,241,203,1) 65%, rgba(192,197,215,1) 100%);
}
/*#video-box {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

h1,
h2,
p,
table {
    font-family: "Audiowide", sans-serif;
}

