<div class ="text-center">
<h1>
    About Us    
</h1>
<p>
    This is your destination for the best automobiles that were ever created. 
</p>
<p>
    The raw power of these machines is unparralled and will push driving to the maximum limit.
</p>
<p>
    Since this is our private collection, sadly we do not offer financing and all sales are final.
</p>
    <img style="box-shadow: 0 10px 10px 0 rgba(10, 11, 14, 0.6);border-radius: 10px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc8yQ0c4EZVVbg4mk07LnkPqHc3VaD06EWxA&usqp=CAU" alt="Pure Performance" width="500" height="300">
</div>