@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Ben Z Car Lot and yes,</h1>
    <h1 class="display-4">Money Does Buy Joy</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<iframe style="border-radius: 25px;" width="1200" height="700" src="https://www.youtube.com/embed/OL_eIZjiLUk" title="McLaren P1: The Widowmaker! | Top Gear | Series 21 | BBC" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<img src="https://images.unsplash.com/photo-1632993954512-b007106e6e11?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=70" alt="Image Description">
