@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Money Does Buy Joy</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<iframe width="1268" height="713" src="https://www.youtube.com/embed/OL_eIZjiLUk" title="McLaren P1: The Widowmaker! | Top Gear | Series 21 | BBC" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
